@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --back_color: #796203;
    --2ndBack_color: #634f02;
    --letter_color: #cee7e6;
    --second_color: #bfc0c0;
    --third_color: #7dc95e;
    --forth_color: #7cdf64;
}

.header{
    background-color: var(--back_color);
}

*{
    font-family: 'Poppins', sans-serif;
    margin :0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: var(--back_color);
    color: var(--letter_color);
}

.container{
    padding:0 10%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10%;
    background: var(--back_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
}

.logo{
    font-size:32px;
    color: var(--letter_color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition:0.3s;
}

.logo span{
    font-size: 45px;
}

.navbar a {
    font-size: 18px;
    color:var(--letter_color);
    text-decoration: none;
    display:inline-flex;
    justify-content: space-between;
   margin-left: 35px;
    align-items: center;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--third_color);
}

.home{
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 0 3%;
}

.home-content{
    max-width: 50%;
}

.home-content h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color:var(--second_color);
    line-height: 1.1;
}

.home-content p{
    font-size: 16px;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.image{
    transition: 0.3s;
}

.image img{
    border-radius: 50%;
    border:2px solid var(--letter_color);
    z-index: 1;
}

img{
    transition: 0.3s;
}

.image img:hover{
    background-color: var(--back_color);
    opacity: 0.7;
}

.image img::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--back_color);
    z-index: -1;
    transition: 0.5s;
}



.btn-box{
    padding-top: 10px;
}

.btn-box a{
    position: relative  ;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: var(--third_color);
    border: 2px solid var(--third_color);
    border-radius: 8px;
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px ;
    font-weight: 600;
    color: var(--letter_color);
    z-index: 1;
    overflow: hidden;
}

.btn-boxe a{
    position: relative  ;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: var(--third_color);
    border: 2px solid var(--third_color);
    border-radius: 8px;
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px ;
    font-weight: 600;
    color: var(--letter_color);
    z-index: 1;
    overflow: hidden;
    transition: transform 0.4s  ease-in;
}

.btn-boxe a:hover{
    transform: scale(1.05);
}
    
.btn-box a:nth-child(1)::before{
    background-color: transparent;
}

.btn-box a:nth-child(1){
    background-color: var(--third_color);
}

.btn-box a:nth-child(2)::before{
    background-color: transparent;
}

.btn-box a:nth-child(2){
    background-color: var(--back_color);
}

.btn-box a:nth-child(1)::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--back_color);
    z-index: -1;
    transition: 0.5s;
}

.btn-box a:nth-child(1):hover::before{
    background-color: transparent;
}


.btn-box a:nth-child(2)::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--third_color);
    z-index: -1;
    transition: 0.5s;
}
.btn-box a:nth-child(2):hover::before{
    background-color: transparent;
}

.image{
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 0 12.5%;
}

.home-sci{
    position: absolute;
    bottom: 60px;
    left: 170px;
    width:170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color:var(--letter_color);
    text-decoration: none;
    border-radius: 50%;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid var(--letter_color);
    transition: 0.3s;
}

.home-sci a:hover{
    background-color: var(--second_color);
    color: var(--third_color)
}


/* About  me*/



.about{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
    background-color: var(--2ndBack_color);
    padding-top: 3rem;
}

.heading{
    font-size: 3.5rem;
    margin-bottom: 0.1rem;
    text-align: center;
}

.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img{
    width: 70%;
    border-radius: 50%;
    border: 0.2rem solid var(--letter_color);
}

span{
    color: var(--third_color)
}

.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%) rotate(0);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border-top: 0.2rem solid var(--back_color);
    border-bottom: 0.2rem solid var(--back_color);
    border-left: 0.2rem solid var(--forth_color);
    border-right: 0.2rem solid var(--forth_color);
}

.about-content{
    text-align: center;
    padding:0 10%;
}

.about-content h3{
    font-size:2rem;
    padding-top: 2rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 1rem 0 1rem;
}

.about-content .btn-box{
    margin-bottom: 2rem;
}

.btn-box .btns{
    display: inline-block;
    width:10rem;
}


/* Portafolio */

.heading_portafolio{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 3rem;
}

.portafolio_content{
    display: grid;
    grid-area: 1 1 1 ;
    grid-template-columns: auto;

}

.portafolio_title{
    font-size: 2.5rem;
    color: var(--second_color);
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-align: center;
}

.proyecto{
    border: 2px solid var(--second_color);
    width: auto;
    height: auto;
    overflow: hidden;
    box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.22);
    background-color: var(--2ndBack_color);
}

.proyecto > img{
    max-width: 100%;
    height: auto;
    display: block; 
    margin: 0 auto; 
}

.proyecto h3{
    font-size:1.5rem;
}

.proyecto p{
    font-size: 1.2rem;
    margin: 1rem 0 1rem;
}


.proyectos_paginasWebs{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1rem;
    padding: 10px;
}

.proyectos_paginasWebs > div{
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
}

/* ---------- */
.Servicios{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    gap:1rem;
    background-color: var(--2ndBack_color);
    padding-top: 3rem;
}

.heading_servicios{
    font-size: 3.5rem;
    margin-bottom: 0.1rem;
    text-align: center;
}

.precios_contenido{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1rem;
    padding: 10px;
}

.precio_unitario h3{
    font-size: 2.5rem;
    color: var(--second_color);
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-align: center;
}

.precio_unitario{
    border: 2px solid var(--second_color);
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.22);
    background-color: var(--back_color);
}

.precio_unitario p{
    font-size: 1rem;
    color: var(--letter_color);
    text-align: center; 
}

.heading_contacto{
    font-size: 3.5rem;
    margin-bottom: 0.1rem;
    text-align: center;
    margin-top:2rem;
}

.footer{
    background-color: var(--2ndBack_color);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}



/* ---------------- */
@media screen and (max-width: 991px){
    .home-content{
        padding-top: 4rem;
    }
}

